.UsersTable table {
  text-align: center;
  vertical-align: middle;
}

.UsersTable__btn {
  margin-right: 15px;
}

@media (max-width: 992px) {
  .UsersTable__btn {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
